#WelcomeScreen {
  flex-grow: 1;

  a {
    cursor: pointer;
  }

  #header {
    text-align: center;
    img {
      width: 100%;
      max-width: 260px;
      margin-top: 20px;
      filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
    }
  }

  #welcome-to-the-jungle {
    text-align: center;

    button {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
    }
  }

  #enter-room-form {
    text-align: center;

    #room-code-row {
      width: 200px;
      margin: 0 auto;
      justify-content: center;
    }

    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
      padding: .1rem 0.8rem;
      border-width: 0;
      border-radius: 2rem;
      box-shadow: .1rem .2rem .2rem 0rem rgba(0,0,0,0.4) inset;
      font-family: 'Roboto Mono';
      font-size: 1.1rem;
      letter-spacing: 0rem;
      text-transform: uppercase;
    }

    @media screen and (min-width: 600px) {
      #room-code-row {
        position: relative;
      }
      label {
        position: absolute;
        right: 100%;
        width: 200px;
        margin: .09em .3em 0 0;
        text-align: right;
        // &::after {
        //   content: ":";
        // }
      }
    }
  }
}
